body {
    background-color: rgb(56, 52, 52);
    font-size: 16px;
  }

  h1 {
      font-size:2em; color: orange;
      font-family: sans-serif;
      font-weight: bold;
      font-style: italic;
      line-height: 25px;
      text-align: left;
      text-decoration: underline;
  }

  #list {
      background-color: red;
  }

  p {
    font-weight: 600;
    font-size: 3em;
  }

  #amarelo {
    background-color: yellow;
  }

  #vermelho {
    background-color: red;
  }

  #marrom {
    background-color: brown;
  }